# Данные и настройки
/venv/
config.py
.vscode
setup.cfg

# Вспомогательные файлы
.ipynb
.ipynb_checkpoints
*.docx
map.png
*.txt

# Кеш
__pycache__

# Другое
﻿env/
config.py
tracks/
.ipynb
.ipynb_checkpoints
__pycache__
Janisjoki/
